.start-game {
  height: 50px;
  width: inherit;
  display: flex;
}

.start-game__input {
  width: 60%;
  font-size: 40px;
}

.start-game__button {
  width: 40%;
  background-color: var(--primary-dark);
  color: var(--secondary-dark);
  border: none;
  outline: none;
  font-weight: bolder;
  font-size: x-large;
}

.start-game__button:hover {
  background-color: var(--primary-light);
}
