.action {
  position: fixed;
  bottom: 0;
  width: inherit;
  height: 50px;
  padding-bottom: 3px;
  transition: all 1s linear;
}

.action__buttons {
  display: flex;
  justify-content: space-around;
}

.action__button {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: var(--primary-dark);
  font-weight: bold;
  font-size: large;
  color: var(--secondary-dark);
}

.enabled {
  cursor: pointer;
  transition: all 1s linear;
}

.enabled:hover {
  background-color: var(--primary-light);
  transform: scale(1.1, 1.1);
}

.disabled {
  background-color: var(--primary-light);
  cursor: not-allowed;
  pointer-events: none;
}
