.result {
  width: inherit;
  display: flex;
}

.result__content {
  margin: auto;
  margin-top: 47%;
}

.result__content  p {
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  line-height: 40px;
  margin: auto;
}

.reset-game {
  width: inherit;
  height: 48px;
  background-color: var(--primary-light);
  font-weight: bold;
  position: fixed;
  bottom: 0;
  border: none;
  outline: none;
}

.reset-game:hover {
  background-color: var(--primary-dark);
}

.result__image {
  height: 100px;
  width: inherit;
}
